.cars{
    background-color: #fff;
    padding-top: 30px;
}
.cars .swiper{
    position: relative;
    padding-bottom: 40px;
}
.cars .swiper .carsSwiper{
    padding-bottom: 20px;
}

.cars .carsSwiper .slide{
    background-color: #eee;
    border-radius: 20px;
    box-shadow: var(--main-shadow);
    border: 2px solid #ccc;
    transition: var(--main-transition);
    overflow: hidden;
    height: 340px;
}
.cars.ar .slide{
    direction: rtl;
}

.cars .slide .img{
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 20px;
    background-color: #fff;
    isolation: isolate;
}

.cars .slide .img .spanLink{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,200%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-right: auto;
    margin-right: left;
    margin: 20px auto 0px;
    width: fit-content;
    /* background-color: var(--main-color); */
    /* background-image:linear-gradient(90deg, var(--lighter-color) 20%, var(--main-color) 100%); */
    /* background-image: var(--main-gradient);
    background-size: 200%;
    background-position: right; */
    color: #fff;
    background-color: #ffffff3e;
    backdrop-filter: blur(5px);
    border: 1px solid var(--text-color);
    padding: 6px 20px;
    font-size: 18px;
    transition: var(--main-transition);
    border-radius: 6px;
    background-image: var(--main-gradient);
    z-index: 2;
    text-wrap: nowrap;
    text-align: center;
}
.cars .slide:hover .img .spanLink{
    gap: 15px;
    transform: translate(-50%,-50%);
}
@media (max-width: 992px) {
    .cars .slide .img .imgOverlay{
        opacity: 0.5;
    } 
    .cars .slide .img .spanLink{
        /* top: 100%; */
        transform: translate(-50%,50%);
    }
    
}
.cars .img img{
    object-fit: contain;
    height: 100%;
}
.cars .img .imgOverlay{
    position: absolute;
    left: 0;
    top: 0;
    background-color: #00000066;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: var(--main-transition);
}
.cars .slide:hover .img .imgOverlay{
    opacity: 1;
}
.cars .slide:hover{
    border: 2px solid var(--main-color);
    /* border-color: var(--main-color); */
}
.cars .slide .details{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    padding: 20px;
}
.cars.ar .slide .details{
    flex-direction: row-reverse;
}
.cars .slide .details .carLogo{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.cars .slide .details .carLogo img{
}
.cars .slide .text{
    /* text-align: center; */
    padding-left: 10px;
    border-left: 1px solid var(--text-color);
    flex: 1;
}
.cars.ar .slide .text{
    text-align: left;
    /* padding-left: unset;
    padding-right: 10px;
    border-left: none;
    border-right: 1px solid var(--text-color); */
}

.cars .slide h3{
    font-size: 24px;
    font-weight: bold;
}
.cars .slide p{
    background-color: var(--text-color);
    color: #fff;
    width: fit-content;
    padding: 2px 10px;
    margin-bottom: 10px;
    font-size: 14px;
}
.cars.ar .slide .text p{
    margin-left: 0px;
    margin-right: auto;
}
.cars .slide .text span{
    color: #fff;
    background-image: var(--main-gradient);
    padding: 5px 20px;
    border-radius: 6px;
}
.cars .swiper button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #eee;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    transition: var(--main-transition);
    transition-duration: 0.1s;
}
.cars .swiper button:first-of-type{
    left: -40px;
}
.cars .swiper button:last-of-type{
    right: -40px;
}
.cars .swiper button:hover{
    background-color: var(--main-color);
    color: #fff;
}
.cars .swiper .brandsPagination{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.cars .swiper .brandsPagination span{
    background-image: var(--main-gradient);
}
@media (max-width: 767px) {
        
    .cars .swiper button:first-of-type{
        left: 0px;
        transform: translateY(-100%);
        z-index: 2;
    }
    .cars .swiper button:last-of-type{
        right: 0px;
        transform: translateY(-100%);
        z-index: 2;
    }
    
}