.hero{
    position: relative;
    isolation: isolate;
    overflow: hidden;
    min-height: 100dvh;
    background-image: url("../../../public/images/hero-bg-3.svg");
    background-image: url("../../../public/images/hero-bg.jpg");
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
}
.hero.ar{
    direction: rtl;
}
.hero .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--text-color);
    background-color: var(--bg-color);
    opacity: 0.8;
    backdrop-filter: blur(10px);
    z-index: -1;
}
.hero > div:first-of-type{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    backdrop-filter: blur(10px);
    width: 100%;
}
.hero > div:first-of-type > *{
    height: 500px;
}
.hero > div:first-of-type h2{
    font-weight: bold;
    max-width: 100%;
    color: var(--main-color);
    /* text-wrap: wrap; */
    z-index: 2;
    font-size: 80px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.hero > div:first-of-type p{
    font-size: 24px;
    color: var(--text-color);
}

.hero > div:first-of-type .btns{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.hero > div:first-of-type .btns a{
    padding: 8px 20px;
    border-radius: 8px;
    box-shadow: var(--main-shadow);
    transition: var(--main-transition);
    border: 1px solid var(--main-color);
    display: flex;
    align-items: center;
    gap: 5px;
}
.hero > div:first-of-type .btns a:first-child{
    background-image: var(--main-gradient);
    color: #fff;
}
.hero > div:first-of-type .btns a:last-child{
    color: var(--main-color);
    background-image: linear-gradient(90deg, white 0%, white 100%);
}
.hero > div:first-of-type .btns a:last-child:hover{
    background-image: var(--main-gradient);
    color: #fff;
}
.hero > div:first-of-type .text{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.hero .text{
    width: 100%;
    /* width: 50%; */
}
.hero > div:first-of-type .img{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero > div:first-of-type .img *{
    object-fit: contain;
    max-width: 100%;
}
@media (max-width: 992px) {

    .hero > div:first-of-type{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 100px;
    }
    .hero > div:first-of-type .text{
        width: 100%;
    }
    .hero > div:first-of-type .img{
        width: 100%;
        display: none;
    }
    .hero > div:first-of-type h2{
        font-size: 76px;
        width: 100%;
    }
    .hero > div:first-of-type .btns{
        justify-content: center;
    }
    .hero::before{
        transform: translateY(200px) rotateZ(30deg);
    } 
    .hero::after{
        transform: translateY(200px) rotateZ(-30deg);
    }
}
@media (max-width: 767px) {
    .hero > div:first-of-type h2{
        font-size: 40px;
        margin-bottom: 10px;
    }
    .hero > div:first-of-type p{
        font-size: 16px;
    }
    .hero > div:first-of-type .btns a,
    .hero > div:first-of-type .btns button{
        font-size: 14px;
        padding: 8px 15px;
    }
    .hero::before{
        transform: translateY(400px) rotateZ(30deg);
    } 
    .hero::after{
        transform: translateY(400px) rotateZ(-30deg);
    }
}