.hero{
    position: relative;
    isolation: isolate;
    overflow: hidden;
    min-height: 100dvh;
}
.hero.ar{
    direction: rtl;
}
.hero .swiper{
    position: relative;
}
.hero .slide{
    position: relative;
    min-height: 100dvh;
}
.hero .slide .img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.hero .slide .img img,
.hero .slide .img video{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.hero .swiper > button{
    /* position: absolute; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    font-size: 24px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #00000051;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero .swiper > button:first-of-type{
    left: 20px;
}
.hero .swiper > button:last-of-type{
    right: 20px;
}
.hero .heroPagination{
    position: absolute;
    bottom: 85px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
.hero .heroPagination span{
    background-color: var(--main-color);
}
.hero .slide .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    /* backdrop-filter: blur(10px); */
    z-index: -1;
    /* opacity: 0.3; */
    opacity: 0.5;
}
.hero .text{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* backdrop-filter: blur(10px); */
    min-height: 100dvh;
}
.hero .text h2{
    font-weight: bold;
    max-width: 100%;
    color: var(--main-color);
    /* text-wrap: wrap; */
    z-index: 2;
    font-size: 80px;
    text-align: center;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
}
.hero .text p{
    font-size: 24px;
    color: #fff;
}

.hero .text .btns{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.hero .text .btns a{
    padding: 8px 20px;
    border-radius: 8px;
    box-shadow: var(--main-shadow);
    transition: var(--main-transition);
    border: 1px solid var(--main-color);
    display: flex;
    align-items: center;
    gap: 5px;
}
.hero .text .btns a:first-child{
    background-image: var(--main-gradient);
    color: #fff;
}
.hero .text .btns a:last-child{
    color: var(--main-color);
    background-image: linear-gradient(90deg, white 0%, white 100%);
}
.hero .text .btns a:last-child:hover{
    background-image: var(--main-gradient);
    color: #fff;
}
.hero .text .img{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 992px) {

    .hero .text{
        /* flex-direction: column;
        justify-content: center;
        text-align: center; */
        /* gap: 100px; */
    }
    .hero .text{
        width: 70%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    .hero .text h2{
        font-size: 66px;
        width: 100%;
    }
    .hero .text p{
        font-size: 18px;
    }
    .hero .text .btns{
        justify-content: center;
    }
}
@media (max-width: 767px) {
    .hero .text{
        width: 80%;
    }
    .hero .text h2{
        font-size: 40px;
        margin-bottom: 10px;
        text-align: center;
    }
    .hero .text p{
        font-size: 16px;
    }
    .hero .text .btns a,
    .hero .text .btns button{
        font-size: 14px;
        padding: 8px 15px;
        white-space: nowrap;
    }
    .hero .swiper > button{
        top: unset;
        bottom: 120px;
        transform: translateY(0px);
    }
    .hero .swiper > button:first-of-type{
        right: 52%;
        left: unset;
    }
    .hero .swiper > button:last-of-type{
        right: unset;
        left: 52%;
    }
}