.floatingBooking{
    position: fixed;
    right: 0px;
    top: 125px;
    z-index: 20;
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    border-radius: 8px 0px 0px 8px;
    font-size: 22px;
    padding: 5px 10px;
}
/* .floatingBooking{
    background-color: var(--main-color);
    background-image: var(--main-gradient);
    border-right: none;
    border-radius: 8px 0px 0px 8px;
    transition: var(--main-transition);
    overflow: hidden;
    text-wrap: nowrap;
    color: #fff;
    box-shadow: var(--sec-shadow);
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
} */
.floatingBooking svg{
    font-size: 20px;
}
@media (max-width: 992px) {
    .floatingBooking{
        bottom: unset;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
    }
    .floatingBooking{
        font-size: 14px;
    }
}
@media (max-width: 767px) {
    .floatingBooking{
        transform: translateY(-50%) translateX(calc(100% - 35px));
    }
    .floatingBooking:hover{
        transform: translateY(-50%) translateX(0px);
    }
}