.services{
    padding-top: 30px;
    padding-bottom: 50px;
    margin-top: 123px;
}
@media (max-width: 1200px) {
    .services{
        margin-top: 102px;
    }
}
@media (max-width: 992px) {
    .services{
        margin-top: 83px;
    }
}
@media (max-width: 1200px) {
    .services{
        margin-top: 77px;
    }
}