.termine h3{
    text-align: center;
    color: var(--main-color);
    text-shadow: var(--text-shadow);
    font-size: 34px;
}
.termine > :nth-child(2) > p{
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}
.termine .emergency .emergencyBtn{
    margin: 20px auto;
    width: fit-content;
    background-color: var(--third-color);
    color: #fff;
    padding: 10px 50px 10px 20px;
    border-radius: 10px;
    box-shadow: var(--main-shadow);
    text-align: center;
    display: block;
    position: relative;
}
.termine .emergency .emergencyBtn svg{
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translate(50%,-50%);
    font-size: 30px;
    transition: var(--main-transition);
}
.termine .emergency .emergencyContent{
    height: 0;
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: var(--main-transition);
    transition-duration: 0.4s;
    position: relative;
}
.termine .emergency .emergencyContent.shown{
    height: auto;
    padding-top: 40px;
    padding-bottom: 20px;
}
.termine .emergency:has() .emergencyContent{
    height: 0;
    overflow: hidden;
}
.termine .emergency .emergencyContent button.closeContent{
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%) translateY(-20px);
    background-color: var(--third-color);
    color: #fff;
    box-shadow: var(--main-shadow);
    padding: 5px;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--main-transition);
}
.termine .emergency .emergencyContent.shown button.closeContent{
    transform: translateX(-50%) translateY(0px);
}
.termine .emergency .emergencyContent p{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}
.termine .emergency .emergencyContent > ul{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.termine .emergency .emergencyContent > ul li{
    width: calc((100% - 20px) / 2);
    /* padding: 10px 20px; */
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
}
@media (max-width: 992px) {
    .termine .emergency .emergencyContent > ul li{
        width: 100%;
    }
}
.termine .emergency .emergencyContent > ul li svg{
    background-color: var(--third-color);
    color: #fff;
    /* width: 30px; */
    /* height: 30px; */
    aspect-ratio: 1;
    font-size: 50px;
    border-radius: 50%;
    padding: 10px;
    box-shadow: var(--main-shadow);
}
.termine .emergency .emergencyContent > ul li span{
    box-shadow: var(--main-shadow);
    background-color: #fff;
    padding: 10px 20px;
    flex: 1;
    border-radius: 8px;
}
.termine .emergency .emergencyContent p span{
    font-weight: bold;
    color: var(--third-color);
}
.termine .appts{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: var(--main-shadow);
    min-height: 130px;
    max-width: 100%;
    width: 100% ;
    flex-wrap: wrap;
}
.termine .appts > div{
    width: 50%;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
    gap: 5px;
    /* justify-content: center; */
}
.termine .appts > div .img{
    /* width: 300px; */
    height: 130px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}
.termine .appts > div .img img{
    object-fit: contain;
}
.termine .appts > div:nth-child(2){
    border-left: 1px solid #ccc;
}
.termine .appts > div h4{
    font-size: 24px;
    margin-bottom: 10px;
    color: #000;
}

.termine .appts > div p,
.termine .appts > div h5{
    display: flex;
    align-items: center;
    gap: 10px;
}
.termine .appts > div p svg,
.termine .appts > div h5 svg{
    font-size: 20px;
    background-color: var(--main-color);
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    aspect-ratio: 1;
}
.termine .appts > div h5{
    font-weight: normal;
    font-size: 16px;
    text-align: left;
}
.termine .btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.termine .btns button{
    box-shadow: var(--main-shadow);
}
.termine .location {
    margin-top: 10px;
}
.termine .location iframe{
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 10px;
    box-shadow: var(--main-shadow);
}
@media (max-width: 992px) {
    .termine .appts{
        flex-direction: column;
    }
    .termine .appts > div{
        width: 100%;
        text-align: left;
    }
    .termine .appts > div h4{
        text-align: center;
    }
    .termine .appts > div:nth-child(2){
        border-left: none;
        border-top: 1px solid #ccc;
    }
}
@media (max-width: 600px) {
    .termine h3{
        font-size: 26px;
    }
    .termine .appts > div h4{
        font-size: 22px;
    }
}