.verticalNav{
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(110%);
    height: 100vh;
    background-color: var(--bg-color);
    padding-top: 20px;
    border-left: 1px solid var(--main-color);
    transition: var(--main-transition);
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.verticalNav.shown{
    transform: translateX(0%);
}
.verticalNav > *{
    margin-left: auto;
    margin-right: auto;
}
.verticalNav > :nth-child(2){
    margin-top: 10px;
}
.verticalNav h3{
    text-align: center;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.verticalNav .links{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.verticalNav .links li{
    width: 100%;
    border-bottom: 1px solid #ddd;
}
.verticalNav .links a{
    width: 100%;
    text-decoration: none;
    color: var(--text-color);
    display: block;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    transition: var(--main-transition);
}
.verticalNav .links a.active{
    background-color: var(--main-color);
    color: #fff;
}
.verticalNav .links a:hover{
    background-color: var(--main-color);
    color: #fff;
}
.verticalNav > :last-child{
    margin-right: 20px;
    margin-left: 20px;
}
.verticalNav .social{
    padding-left: 10px;
    padding-right: 10px;
}
.verticalNav .language{
    display: flex;
    align-items: center;
    justify-content: center;
}