.onlineTermine{
    padding-top: 100px;
    padding-bottom: 50px;
}

.onlineTermine h3{
    text-align: center;
    color: var(--main-color);
    text-shadow: var(--text-shadow);
    font-size: 30px;
}
.onlineTermine .appts{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: var(--main-shadow);
    min-height: 130px;
    max-width: 100%;
    width: 100% ;
    flex-wrap: wrap;
}
.onlineTermine .appts > div{
    width: 50%;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
    gap: 5px;
    /* justify-content: center; */
}
.onlineTermine .appts > div:nth-child(2){
    border-left: 1px solid #ccc;
}
.onlineTermine .appts > div h4{
    font-size: 24px;
    margin-bottom: 10px;
}

.onlineTermine .appts > div p,
.onlineTermine .appts > div h5{
    display: flex;
    align-items: center;
    gap: 10px;
}
.onlineTermine .appts > div p svg,
.onlineTermine .appts > div h5 svg{
    font-size: 20px;
    background-color: var(--main-color);
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    aspect-ratio: 1;
}
.onlineTermine .appts > div h5{
    font-weight: normal;
    font-size: 16px;
}
.onlineTermine .btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.onlineTermine .btns button{
    box-shadow: var(--main-shadow);
}
@media (max-width: 992px) {
    .onlineTermine .appts{
        flex-direction: column;
    }
    .onlineTermine .appts > div{
        width: 100%;
        text-align: left;
    }
    .onlineTermine .appts > div h4{
        text-align: center;
    }
    .onlineTermine .appts > div:nth-child(2){
        border-left: none;
        border-top: 1px solid #ccc;
    }
}
@media (max-width: 600px) {
    .onlineTermine h3{
        font-size: 26px;
    }
    .onlineTermine .appts > div h4{
        font-size: 22px;
    }
}