.socialUl{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 10px;
}
.socialUl li{
}
.socialUl a{
    width: 30px;
    height: 30px;
    color: var(--text-color);
    transition: var(--main-transition);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.socialUl a:hover{
    background-color: var(--main-color);
    color: #fff;
}
.socialUl svg{
    width: 16px;
    height: 16px;
}