.contact{
    padding-top: 60px;
    padding-bottom: 100px;
    position: relative;
    background-image: var(--overlay-gradient);
}
.contact > div:nth-child(2){
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 40px;
    opacity: 0;
    transform: translateY(100px);
    transition: var(--animation-transition);
    transition-delay: 0.7s;
}
.contact.ar{
    direction: rtl;
    font-family: "Zain", sans-serif;
}
.contact > div:nth-child(2){
    opacity: 1;
    transform: translateY(0px);
}
/* .contact.scrolled > div:nth-child(2){
    opacity: 1;
    transform: translateY(0px);
} */
.contact > div:nth-child(2) > div{
    width: 100%;
}
.contact > div:nth-child(2) .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: fit-content;
    margin-right: auto;
    margin-left: auto;

}
.contact > div:nth-child(2) .info > div{
    width: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
}
.contact > div:nth-child(2) .info > div:not(:last-child){
    border-bottom: 1px solid #c8c5cd;
}
.contact > div:nth-child(2) .info .address{
    display: flex;
    gap: 20px;
}
.contact > div:nth-child(2) .info .address span{
    background-color: var(--features-card-bg);
    font-size: 24px;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact > div:nth-child(2) .info .address address{
    border-left: 1px solid #c8c5cd;
    padding-left: 20px;
    place-content: center;
}
.contact.ar > div:nth-child(2) .info .address address{
    border-left: none;
    padding-left: 0px;
    border-right: 1px solid #c8c5cd;
    padding-right: 20px;
}
.contact > div:nth-child(2) .location{
    height: 400px;
    max-width: 50%;
}
.contact > div:nth-child(2) .location iframe{
    border-radius: 20px;
    box-shadow: var(--sec-shadow);
    height: 400px;
    width: 100%;
}
@media (max-width: 992px) {
    .contact > div:nth-child(2){
        /* flex-direction: column; */
        gap: 40px;
    }
    .contact > div:nth-child(2) .info{
        max-width: 100%;
        align-items: center;
    }
    .contact > div:nth-child(2) .info > div{
        width: 100%;
    }
    .contact > div:nth-child(2) .info > div:nth-child(2) a{
        /* justify-content: center; */
    }
    .contact > div:nth-child(2) .location{
        /* height: 600px !important; */
        max-width: 100%;
        width: 70%;
    }
}
@media (max-width: 600px) {
    .contact > div:nth-child(2){
        flex-direction: column;
        gap: 40px;
    }
    .contact > div:nth-child(2) .info{
        max-width: 100%;
        align-items: center;
    }
    .contact > div:nth-child(2) .info > div{
        width: 100%;
    }
    .contact > div:nth-child(2) .info > div:nth-child(2){
        gap: 0 !important;
    }
    .contact > div:nth-child(2) .info > div:nth-child(2) a{
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        margin-bottom: 0;
    }
    .contact > div:nth-child(2) .info > div:nth-child(2) a h4,
    .contact.ar > div:nth-child(2) .info > div:nth-child(2) a h4{
        border-left: none;
        padding-left: 0;
        border-right: none;
        padding-right: 0;
    }
    .contact > div:nth-child(2) .info > div:nth-child(2) a h4,
    .contact.ar > div:nth-child(2) .info > div:nth-child(2) a h4{
        border-left: none;
        border-right: none;
    }
    /* .contact.scrolled > div:nth-child(2) .info > div:nth-child(2) a h4,
    .contact.ar.scrolled > div:nth-child(2) .info > div:nth-child(2) a h4{
        border-left: none;
        border-right: none;
    } */
    .contact > div:nth-child(2) .location{
        /* height: 600px !important; */
        max-width: 100%;
        width: 100%;
    }
}