.langSwitch{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--main-shadow);
    direction: ltr !important;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    height: 24px;
    background-color: var(--bg-color);
    border: 1px solid var(--main-color);
    border-radius: 8px;
}
.langSwitch, .langSwitch:focus, .langSwitch:focus-visible, .langSwitch:active{
    border: 1px solid var(--main-color);
}
.langSwitch span{
    width: calc(100% / 2);
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}
.langSwitch span:hover{
    background-color: var(--main-color);
    color: #fff;
}
.langSwitch span.active{
    background-color: var(--main-color);
    color: #fff;
}
@media (max-width: 1200px) {
    .langSwitch{
        font-size: 12px;
    }
    .langSwitch, .langSwitch:focus, .langSwitch:focus-visible, .langSwitch:active{
        border: 1px solid var(--main-color);
        font-size: 12px;
    }
}