.header{
    position: fixed;
    width: 100dvw;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 0;
    top: 0;
    z-index: 14;
    background-color: #fff;
}
.header.ar{
    direction: rtl;
    /* font-family: "Tajawal", sans-serif; */
}
.header > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header > div .logo{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header > div .logo img{
    object-fit: contain;
    height: 100%;
}
.header .bars{
    background-color: var(--main-color);
    color: #fff;
    width: 25px;
    height: 25px;
    aspect-ratio: 1;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header > div .smCtrl{
    display: none;
}
.header .close{
    color: #fff;
    width: 26px;
    cursor: pointer;
    background-color: var(--third-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 30px;
    right: -150px;
    padding: 4px 10px;
    border-radius: 6px 0px 0px 6px;
    border: 1px solid var(--third-color);
    transition: var(--main-transition);
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.header .close.shown{
    right: 270px;
}
@media (max-width: 1200px) {
    .header .bookBtn{
        display: none;
    }
}
@media (max-width: 992px) {
    .header > div .smCtrl{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .header > div > :last-child{
        display: none;
    }
}