.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100dvw;
    z-index: 50;
    padding-top: 14px;
    padding-bottom: 14px;
    isolation: isolate;
    /* background-color: transparent; */
    backdrop-filter: blur(15px);
    background-color: #ffffffa4;
    border-radius: 0px 0px 50px 50px;
    border-bottom: 1px solid var(--main-color);
    box-shadow: var(--sec-shadow);
}
.header > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header > div > *{
    width: calc(100% / 3);
}
.header.ar{
    /* direction: rtl; */
}
.header .logo{
    position: absolute;
    left: 50%;
    top: 0;
    padding: 12px;
    transform: translateX(-50%);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 2px solid var(--main-color);
    /* box-shadow: var(--sec-shadow); */
    box-shadow: var(--sec-shadow);
}
@media (max-width: 600px) {
    .header .logo{
        height: 70px;
        width: 70px;
        top: 20px
    }
}
.header .logo img{
    object-fit: contain;
}
.header .links{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}
.header .links > div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.header .links > div a{
    background-color: var(--main-color);
    color: #fff;
    /* background-color: #fff;
    color: var(--main-color);*/
    border: 1px solid var(--main-color); 
    /* padding: 4px 16px; */

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    direction: ltr !important;
    box-shadow: var(--main-shadow);
    transition: var(--main-transition);
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.header .links > div a span{
    width: 0;
    overflow: hidden;
    transition: var(--main-transition);
}
@media (max-width: 600px) {
    .header{
        border-radius: 0px 0px 30px 30px;
    }
}
@media (min-width: 600px) {
    .header .links > div a:hover{
        gap: 5px;
        background-image: var(--main-gradient);
        border-radius: 10px;
    }
    .header .links > div a:hover:first-child{
        width: 120px;
    }
    .header .links > div a:hover:last-child{
        width: 150px;
    }
    .header .links > div a:hover:first-child span{
        width: 60px;
    }
    .header.ar .links > div a:hover:first-child span{
        width: 40px;
    }
    .header .links > div a:hover:last-child span{
        width: 100px;
    }
}
.header .links > div a svg{
    width: 16px;
    height: 16px;
}
.header .links > div a:nth-child(2){
    background-color: #fff;
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.header .links > div a:nth-child(2):hover{
    background-color: var(--main-color);
    color: #fff;
}