.mainHeading{
    position: relative;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    margin-bottom: 30px;
}
.mainHeading span{
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(-50%,-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--lighter-color);
    /* transform: translateY(50%); */
}
.mainHeading span:last-of-type{
    background-color: var(--main-color);
    left: unset;
    right: -20px;
    transform: translate(50%,-50%);
}
/* .mainHeading::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 2px;
    width: 100%;
    width: calc(100% - 20px);
    transform: translateY(50%) translateX(-50%);
    background-color: var(--lighter-color);
} */
.mainHeading h2{
    text-align: center;
    font-size: 40px;
    /* text-shadow: 2px 2px 0px #000; */
    color: var(--bg-color);
    background-color: var(--main-color);
    background-image: var(--main-gradient);
    padding: 5px 30px;
    border-radius: 10px;
}
.mainHeading.inverted h2{
    color: var(--bg-color);
}
.mainHeading.inverted span,
.mainHeading.inverted::before{
    background-color: var(--bg-color);
}
@media (max-width: 767px) {
    .mainHeading h2{
        font-size: 36px;
    }
}