.blog{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("../../../../public/images/blog-post-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    position: relative;
    isolation: isolate;
}
.blog .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    opacity: 0.97;
    z-index: -1;
    backdrop-filter: blur(10px);
    /* display: none; */
}