.blog{
    padding-top: 30px;
    margin-top: 248px;
    padding-bottom: 100px;
    background-image: url("../../../../public/images/blog-post-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    position: relative;
    isolation: isolate;
}
@media (max-width: 1200px) {
    .blog{
        /* margin-top: 2482px; */
        margin-top: 239px;
    }
}
@media (max-width: 992px) {
    .blog{
        margin-top: 239px;
    }
}
@media (max-width: 767px) {
    .blog{
        margin-top: 189px;
    }
}
.blog .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    opacity: 0.97;
    z-index: -1;
    backdrop-filter: blur(10px);
    /* display: none; */
}